body {
    margin: 0px;
    font-family: Helvetica;
    font-size: 1em;
}

:root {
    --vw: 1vw;
    --vh: 1vh;
    --FGColor: pink;
    --BGColor: hsl(55, 100%, 50%);
    --BrushColor: blue;
    --CaptionColor: white;
    --border-weight: 1px;
    --border-style: solid;
    --border-all: var(--border-weight) solid var(--BrushColor);
}

#container {
    width: 100vw;
    height: 100vh;
    width: calc(var(--vw, 1vw) * 100);
    height: calc(var(--vh, 1vh) * 100);
    margin: auto;
    background: var(--BGColor);
}


/* Canvas related stuff */

#container #canvas-holder {
    z-index: 2;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
}

#canvas-holder #draw-canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    background: var(--BGColor);
}


/* Major content containers related stuff */

#header {
    width: 100%;
    height: 10%;
    position: fixed;
    top: 0px;
    font-size: 32px;
    z-index: 100;
}

#container #content-holder {
    width: 100%;
    height: 100%;
    top: 10%;
    pointer-events: none;
    z-index: 1;
}


/* Within content */

#content-holder .content {
    position: absolute;
    display: flex;
    cursor: crosshair;
    cursor: grab;
    pointer-events: auto;
    z-index: 3;
    /* resize: both;
overflow: auto; */
}


/* Content itself*/

.content * {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.content .content-main {
    display: flex;
    pointer-events: none;
}


/* Fancy styling vibes*/

.content.text {
    background: var(--BGColor);
    padding: 8px;
}

.content.browser {
    --chrome-radius: 8px;
    --chrome-bar-height: 28px;
    padding: 0px;
    padding-top: var(--chrome-bar-height);
    border-radius: var(--chrome-radius);
    background: var(--FGColor);
    border: var(--border-all);
}

.content.browser:before {
    content: "";
    height: calc(var(--chrome-bar-height)/3);
    width: calc(var(--chrome-bar-height)/3);
    top: calc(var(--chrome-bar-height)/3);
    left: calc(var(--chrome-bar-height)/3);
    background: var(--FGColor);
    border: var(--border-all);
    border-radius: 100%;
    position: absolute;
}

.content.browser .content-main {
    border-radius: 0px 0px var(--chrome-radius) var(--chrome-radius);
    border-top: var(--border-all);
    overflow: hidden;
}

.content.phone {
    --phone-radius: 16px;
    --phone-padding: 12px;
    padding-top: var(--phone-padding);
    padding-left: calc(var(--phone-padding)/2);
    padding-right: calc(var(--phone-padding)/2);
    padding-bottom: calc(var(--phone-padding)*2);
    border-radius: var(--phone-radius);
    background: var(--FGColor);
    border: var(--border-all);
    box-sizing: border-box;
}

.content.phone .content-main {
    border-radius: calc(var(--phone-radius) / 2);
    overflow: hidden;
}

.content.paper .content-main {
    border: var(--border-all);
    display: flex;
}

.content.paper .content-main:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 10%;
    left: -10%;
    background: var(--FGColor);
    z-index: -1;
    border: var(--border-all)
}

.content.text {
    background: var(--FGColor);
    border: var(--border-all);
}


/* Caption */

.content .content-caption {
    display: none;
    position: absolute;
    bottom: -16px;
    left: 12px;
    padding: 12px;
    background: var(--CaptionColor);
    border: 1px solid black;
}

.content:hover .content-caption {
    display: inline-block;
}

.content .content-main a,
.content .content-caption a {
    cursor: ne-resize;
}