:root {
    --vw: 1vw;
    --vh: 1vh;
    --FGColor: yellow;
    --BGColor: hsl(0, 0%, 90%);
    --BrushColor: black;
    --CaptionColor: white;
    --border-weight: 1px;
    --border-style: solid;
    --border-all: var(--border-weight) solid var(--BrushColor);
    --docPadding: 32px;
}

body {
    margin: 0px;
    font-family: Helvetica;
    font-size: 1em;
    background: var(--BGColor);
}

#container {
    width: 100vw;
    height: 100vh;
    width: calc(var(--vw, 1vw) * 100);
    height: calc(var(--vh, 1vh) * 100);
    margin: auto;
    background: var(--BGColor);
    overflow-x: hidden;
}

::selection {
    background-color: var(--FGColor)
}


/* Canvas related stuff */

#container #canvas-holder {
    z-index: 2;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
}

#canvas-holder #draw-canvas {
    width: 100%;
    height: 100%;
    position: absolute;
}


/* Major content containers related stuff */

#header {
    width: 100%;
    position: relative;
    top: 0px;
    box-sizing: border-box;
    font-family: 'EB Garamond', 'Times New Roman', Times, serif;
    padding: var(--docPadding);
    font-size: 32px;
    line-height: 39px;
    font-weight: 400;
    word-wrap: break-word;
    pointer-events: auto;
    z-index: 3;
}

#header a {
    font-style: italic;
    text-decoration: underline;
    word-wrap: break-word;
    cursor: ne-resize;
}

#header .half {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

#container #content-holder {
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
}


/* Within content */

#content-holder .content {
    position: absolute;
    display: flex;
    cursor: crosshair;
    cursor: grab;
    pointer-events: auto;
    z-index: 3;
    /* resize: both;
overflow: auto; */
}


/* Content itself*/

.content * {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.content .content-main {
    display: flex;
    pointer-events: none;
}


/* Fancy styling vibes*/

.content.text {
    background: var(--BGColor);
    padding: 8px;
}

.content.browser {
    --chrome-radius: 8px;
    --chrome-bar-height: 28px;
    padding: 0px;
    padding-top: var(--chrome-bar-height);
    border-radius: var(--chrome-radius);
    background: var(--FGColor);
    border: var(--border-all);
}

.content.browser:before {
    content: "";
    height: calc(var(--chrome-bar-height)/3);
    width: calc(var(--chrome-bar-height)/3);
    top: calc(var(--chrome-bar-height)/3);
    left: calc(var(--chrome-bar-height)/3);
    background: var(--FGColor);
    border: var(--border-all);
    border-radius: 100%;
    position: absolute;
}

.content.browser .content-main {
    border-radius: 0px 0px var(--chrome-radius) var(--chrome-radius);
    border-top: var(--border-all);
    overflow: hidden;
}

.content.phone {
    --phone-radius: 16px;
    --phone-padding: 12px;
    padding-top: var(--phone-padding);
    padding-left: calc(var(--phone-padding)/2);
    padding-right: calc(var(--phone-padding)/2);
    padding-bottom: calc(var(--phone-padding)*2);
    border-radius: var(--phone-radius);
    background: var(--FGColor);
    border: var(--border-all);
    box-sizing: border-box;
}

.content.phone .content-main {
    border-radius: calc(var(--phone-radius) / 2);
    overflow: hidden;
    border: var(--border-all);
}

.content.paper .content-main {
    border: var(--border-all);
    display: flex;
    background: var(--BGColor);
}

.content.paper .content-main:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 3%;
    left: -5%;
    background: var(--FGColor);
    z-index: -1;
    border: var(--border-all)
}

.content.text {
    background: var(--FGColor);
    border: var(--border-all);
}


/* Within content specifics */

.content .content-caption {
    display: none;
    position: absolute;
    bottom: -16px;
    left: 12px;
    padding: 12px;
    background: var(--CaptionColor);
    border: 1px solid black;
}

.content:hover .content-caption {
    display: inline-block;
}

#header a,
.content .content-main a,
.content .content-caption a {
    cursor: ne-resize;
    color: black;
}

#tools-container {
    position: fixed;
    bottom: var(--docPadding);
    left: var(--docPadding);
    z-index: 4;
}

#tools-container #play {
    display: inline-block;
    background-color: var(--FGColor);
    border: var(--border-all);
    padding: 12px;
    line-height: 24px;
}

.content .content-main input {
    pointer-events: auto;
    cursor: pointer;
}


/* If "desktop" native approach */


/* Phone portrait */

@media only screen and (max-width: 850px) {
    /* Mobile related CSS goes here (400px and under) */
     :root {
        --docPadding: 24px;
    }
    #header .half {
        display: inline;
    }
    .content .content-caption {
        display: inline-block;
    }
}


/* A ton of resets for input */

input[type=range] {
    -webkit-appearance: none;
    /* Hides the slider so that custom slider can be made */
    width: 100%;
    /* Specific width is required for Firefox. */
    background: transparent;
    /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
    /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    /* Hides the slider so custom styles can be added */
    background: transparent;
    border-color: transparent;
    color: transparent;
}


/* Special styling for WebKit/Blink */

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 34px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    margin-top: -14px;
    /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    /* Add cool effects to your sliders! */
}


/* All the same stuff for Firefox */

input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 12px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}


/* All the same stuff for IE */

input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}