body {
	margin: 0;
	padding: 0;
	background-color: rgb(252,252,252);
	/*background-color: #ccffff;*/
	background-color: white;
/*    background-image: url("Images/background-tile.png");
    background-repeat: repeat;
    background-size: 48px 48px;*/
    background-image: linear-gradient(to right, rgba(200,200,200,0.2) 1px, transparent 1px), linear-gradient(to bottom, rgba(200,200,200,0.25) 1px, transparent 1px);
    background-size: 48px 48px;
    font-family: Helvetica, sans-serif;
}

/*.coretable td.header .text_wrapper .text {
	background-color: rgba(252,252,252,0.5);
}
*/
td.image img, td.image video {
	border: 1px solid rgba(200,200,200);
	box-sizing: border-box;
}

a { color: inherit; } 



td, tr {
	border: none;
	/*border: 1px dashed rgba(100,100,100,0.2); */
}


tr:first-child {
	border-bottom: none;
}

ul {
	list-style-type: square;
	margin: 0;
	padding: 0;
	padding-left: 16px;
}

li {
	margin-bottom: 2px;
}

@font-face {
    font-family: Gibson-SemiBold;
    font-weight: bold;
    src: url("Gibson-SemiBold.otf") format("opentype");
}


.coretable {
	border-collapse: collapse;
	margin-top: 48px;
	margin-left: 142px;
}

.coretable.secondary {
	margin-top: 0px;
}

.coretable td {
	vertical-align: top;
}


.coretable td.header {
	font-size: 36px;
	font-family:  Gibson-SemiBold, Helvetica, sans-serif;
	padding-bottom: 48px;
	font-weight: bold;
	line-height: 42px;
	padding-top: 4px;

}

.coretable.home td.header {
	width: 288px;
}

.coretable td.header .text_wrapper {
	position: relative;
}

.coretable td.header .text_wrapper .text {
	top: -12px;
    left: -24px;
    border: 1px gray solid;
    border-radius: 50%;
    width: 300px;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    position: absolute;
}

.coretable.home td.header {
	padding-bottom: 8px;
}

.coretable td.about {
	color: rgb(60,60,60);
	font-size: 16px;
	line-height: 16px;
    padding-left: 54px;
    padding-top: 15px;

}

.coretable.home td.about {
	width: 432px;
}

.coretable td > .emojiwrapper {
	position: relative;
	font-size: 24px;
}

.coretable td > .emojiwrapper > .emoji {
	position: absolute;
	top: -12px;
	left: -32px;
}

.coretable td.description {
	font-size: 18px;
	padding-right: 60px;
	width: 180px;
}

.coretable.home td.description > div {
	cursor: e-resize;
}

.coretable.home td.description > div:hover {
	text-decoration: underline;
	cursor: default;
}

.coretable.home td.description.nolink div:hover {
	text-decoration: none;
}

	.coretable td.description > div {
		width: 180px; /*Have to put it here because the description cell doesnt want it*/
		padding-right: 0px;
		margin-right: 0px;
	}

	.coretable td.description .title {
		font-family: Helvetica;
		font-weight: bold;
		font-size: 20px;
		line-height: 20px;
	}

	.coretable td.description .subtitle {
		font-size: 16px;
	}

		.coretable td.description .subtitle.product {
			color: #0500FF;
		}

		.coretable td.description .subtitle.tech {
			color: #BD10E0;
		}

		.coretable td.description .subtitle.art {
			color: #1797B1;
		}

	.coretable td.description .body {
		color: rgb(60,60,60);
		margin-top: 12px;
		font-size: 16px;
	}


	.coretable td.description .link {
		color: #9B9B9B;
		margin-top: 24px;
		font-size: 16px;
		/*text-decoration: underline;*/
	}

/*.coretable td.caption {
	text-align: center;
	font-size: 14px;
}
*/

/*TODO CLEAN THIS SHIT UPPP*/

.coretable td .video .emojiwrapper {
	position: relative;
	font-size: 20px;
}

.coretable td .video .emojiwrapper > .emoji {
	position: absolute;
	top: -12px;
	left: -6px;
	cursor: default;
}

/*This one is the container, equivalent to one, and the image style*/
.coretable td.image { 
	padding-bottom: 36px; /*Have to put it here because the fricken row doesnt want it!! */
	padding-right: 12px;
	width: 240px;
}

td.image img.one, td.image video.one{
	/*width: calc(360px * 0.7);*/
	width: 248px;
	height: auto;
}


/* Smaller bottom margins in some cases */

.coretable tr.tight-bottom td.image {
	padding-bottom: 12px;
}

/* Tighter for the grids in the detail page, where full grid is tight */ 

.coretable.tight td.image { 
	padding-bottom: 12px; 
	padding-right: 12px;
	width: 183px;
}

.coretable.tight td.image img.one, .coretable.tight td.image video.one{
	/*width: calc(360px * 0.7);*/
	width: 180px;
	height: auto;
}

.coretable.tight td.image img.two, .coretable.tight td.image video.two {
	width: calc(366px + 12px);
	height: auto;
}


/*Video bullshit*/

.video {
/*  height: 330px;
  width: 600px;
  margin-bottom: 50px;*/

}

/* Hide Play button + controls on iOS */
video::-webkit-media-controls {
    /*display:none !important;*/
}

/*This one is the container, equivalent to 3 width, and the image style*/

.coretable td.image.three {
	width: calc((240px * 3) + (24px * 2));
}


td.image img.three, td.image video.three{
	/*width: calc(360px * 0.7);*/
	width: calc((240px * 3) + (24px * 2));
	height: auto;
}


.coretable td.buffer {
	width: 300px;
}

/*Detail specific*/

.coretable td.header.detail {
	font-size: 18px;
}


.coretable td.header > .emojiwrapper > .emoji {
	font-family: Helvetica, san-serif;
	position: absolute;
	top: -5px;
	left: -32px;
}

