.header {
	color: white;
	font-family: AlphaBalloon, sans-serif;
	font-size: 78px;
	position: absolute;
  	top:50%;
  	left:50%;
  	padding:15px;
  	transform: translate(-50%,-50%);
  	width: 600px;
  	color: #FF00EC;
  	text-align: center;
}

	.header .letter {
		float: left;
		margin-right:2px;
	}

	.header .letter:nth-of-type(odd) {
		margin-top: 3px;
	}

	.header .letter:nth-of-type(2n+1) {transform: rotate(5deg); color: green;} 
	.header .letter:nth-of-type(2n+2) {transform: rotate(-7deg); color: white;} 
	.header .letter:nth-of-type(2n+3) {transform: rotate(-5deg); color: aqua;} 
	.header .letter:nth-of-type(2n+5) {transform: rotate(8deg); color: green;} 
	.header .letter:nth-of-type(2n+7) {transform: rotate(12deg);  color: aqua;} 

.header.animated {
	top: -10%;
}

.header.animated .title .letter {
	position: relative;
	margin-top: 200vh;
	animation: fadeup 20s;
	animation-fill-mode: forwards;

}

	.header .title .letter:nth-of-type(2n+1) {animation-delay: 0.2s;} 
	.header .title .letter:nth-of-type(2n+2) {animation-delay: 0.2s;} 
	.header .title .letter:nth-of-type(2n+3) {animation-delay: 0.3s;} 
	.header .title .letter:nth-of-type(2n+5) {animation-delay: 0.1s;} 
	.header .title .letter:nth-of-type(2n+7) {animation-delay: 0.4s;}

@keyframes fadeup {
	0% {
		margin-top: 200vh;
	} 
	50% {
		margin-top: 10vh;
	} 
	100% {
		margin-top: 0vh;
	}
}

.header .subtitle {
	color: #FF00EC;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 36px;
	clear: left;
	position: relative;
	top: -20px;
}



.teddy {
	position: absolute;
	left: 70%;
	top: 65%;
	transform: rotate(20deg);
}

.teddy img {
	width: 225px;
	height: auto;
}

.rose {
	position: absolute;
	left: 10%;
	top: 55%;
	transform: rotate(-20deg);
}

.rose img {
	width: 225px;
	height: auto;
}

.heart {
	position: absolute;
	right: 10%;
	top: 15%;
}

.heart img {
	width: 225px;
	height: auto;
}

.wow {
	position: absolute;
	left: 10%;
	top: 15%;
}

.wow img {
	width: 225px;
	height: auto;
}




