
body {
	background: black;
	background-image: url("https://media.giphy.com/media/NzSUEgbTWB7TW/giphy.gif");
  	background-repeat: repeat;
  	cursor: pointer;
  	color: white;

}

.blue {
	color: yellow;
}

@font-face {
    font-family: AlphaBalloon;	
    src: url('alphaballoon.woff') format('woff'), url('AlphaBalloon.ttf') format('truetype'); 
}

.container {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: scroll;
	animation: fade-in 2s;
}

.click_anywhere {
	font-family: "Comic Sans MS", cursive, sans-serif;
	color: white;
	position: absolute;
	font-size: 24px;
	bottom: 20%;
	left: -10%;
	animation: rotator 10s infinite;
	text-align: center;
	transition-timing-function: linear;
	animation-delay: 16s;
}

.short {
	animation-delay: 12s;
}

.long {
	animation-delay: 24s;
}


@keyframes rotator
{
    0% {
        left: -10%;
        transform: rotate(0deg);
    }
    100% {
        left: 105%;
        transform: rotate(1080deg);
    }
}

.fade-1 {
	opacity: 0;
	animation: fade-in 2s;
	animation-fill-mode: forwards;
	animation-delay: 3s;
}

.fade-2 {
	opacity: 0;
	animation: fade-in 2s;
	animation-fill-mode: forwards;
	animation-delay: 6s;
}

.fade-3 {
	opacity: 0;
	animation: fade-in 2s;
	animation-fill-mode: forwards;
	animation-delay: 9s;
}

.fade-4 {
	opacity: 0;
	animation: fade-in 2s;
	animation-fill-mode: forwards;
	animation-delay: 12s;
}

.fade-5 {
	opacity: 0;
	animation: fade-in 2s;
	animation-fill-mode: forwards;
	animation-delay: 16s;
}

.fade-6 {
	opacity: 0;
	animation: fade-in 2s;
	animation-fill-mode: forwards;
	animation-delay: 20s;
}

@keyframes fade-in
{
    0% {
        opacity: 0;
    }
    100% {
      	opacity: 1;
    }
}

/*Half columns*/

 .halfcol {
 	float: left;
 	width: 50%;
 }

 .center {
	position: absolute;
  	top:50%;
  	left:50%;
  	padding:15px;
}


.left {
	width: 45%;
	margin-right: 42px;
}

.table {
	width: 80%;
	height: 80%;
	position: absolute;
	top: 10%;
	left: 10%;
	text-align: center;
	vertical-align: center;
}

.table td {
	padding-top: 32px;
}

	.table tr:nth-child(even) td:nth-child(even), .table tr:nth-child(odd) td:nth-child(odd) {
		border: 1px solid yellow;
		background-color: yellow;
		color: blue;
	}

	.table tr:nth-child(even) td:nth-child(odd), .table tr:nth-child(odd) td:nth-child(even) {
		border: 1px solid blue;
		background-color: blue;
		color: yellow;
	}

	.table tr:nth-child(1) td:nth-child(1) {
		background-color: red;
		color: white;
	}

	.table.emojis tr:nth-child(even) td:nth-child(even), .table tr:nth-child(odd) td:nth-child(odd) {
		background-color: none
		color: blue;
	}

	.table.emojis tr:nth-child(even) td:nth-child(odd), .table tr:nth-child(odd) td:nth-child(even) {
		background-color: none
		color: yellow;
	}




.halfcol .maintext, .table .maintext {
	color: white;
	color: #FF00EC;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 72px;
}

.halfcol .maintext {
	position: relative;
	top: 10vh;
	left: 5vw;
}

.halfcol .subtitle, .table .subtitle {
	color: white;
	font-size: 32px;
	margin-top: 12px;
	font-family: "Comic Sans MS", cursive, sans-serif;
}


.halfcol  img {
	width: 280px;
	clear: left;
}

.halfcol .maintext img {
	width: 280px;
	margin-top: 120px;
	clear: left;
	transform: rotate(20deg);
}

 .maintext img.shiftup {
	margin-top: 60px;
}

 ul.texts {
	position: relative;
	top: 10vh;
	width:  100%;
	font-family: Helvetica, sans-serif;
	font-weight: 300;
}

 .texts li .text {
	margin: 32px;
	font-size: 32px;
	background: blue;
	border-radius: 40px;
	padding: 32px;

}

.texts li .time {
	position: relative;
	width: 300px;
	top: -10px;
	font-size: 18px;
	left: 48px;
}

.texts li:nth-child(1) .time {
	text-align: right;
	left: calc(100% - 348px);

}

  .texts li:nth-child(even) .text{
	margin-right: 104px;
	background: linear-gradient(#007AFF,#52a5ff);
}

 .texts li:nth-child(odd) .text {
	background-color: white;
	color: rgb(20,20,20);
	margin-right: 40px;
	margin-left: 104px;
	background: linear-gradient(rgb(255,255,255),rgb(210,210,210));
}

.halfcol #myChart {
	margin-top: 80px;
	color: pink;
}

/***** ROWS *****/

.row {
	margin-top: 120px;
	clear: left;
}

.row .cell {
	float: left;
	width: 60%;
	margin-left: 20px;
}

.row .cell.small {
	width: 20%;
	float: left;
}

.row .cell img {
	width: 100%;
	height: auto;
	margin-bottom: 96px;
}