body {
    font-family: teletype, sans-serif;
    --bgColor: #eee;
    --textColor: black;
    background: var(--bgColor);
}

.container {
    width: 1200px;
    height: 1200px;
    margin: 0 auto;
    margin-top: 2.5vh;
    border: 1px solid white;
}

#budget-container {
    overflow: scroll;
    background: white;
    border-radius: 0px;
}

#budget-container .budget-item {
    display: inline-block;
    cursor: crosshair;
    text-align: center;
    vertical-align: center;
    width: 30px;
    height: 27px;
    padding-top: 2px;
    font-size: 20px;
    box-sizing: border-box;
    text-align: center;
}

#budget-container .budget-item.police {
    /* background: black; */
}

#budget-container .budget-item.police:hover {}

.budget-item .name {
    display: none;
    font-size: 12px;
}

.budget-item:hover .name {
    display: block;
    position: absolute;
    background: white;
    padding: 2px;
}

.links-container {
    width: 1200px;
    margin: 0 auto;
    height: 20px;
    margin-top: 24px;
    font-size: 14px;
    color: var(--textColor);
}

.links-container div {
    display: inline-block;
}

.links-container .link {
    margin-left: 32px;
    cursor: pointer;
}

#defund-links-container .link {
    padding-bottom: 2px;
}

.links-container .link:hover {
    border-bottom: 1px dotted var(--textColor);
}

.link.active-link {
    border-bottom: 1px solid var(--textColor);
}


/* Debug below this.... */


/* 
#budget-container div {
    background: red;
    border: 1px solid cyan;
}

#budget-container div:nth-child(odd) {
    background: white;
}

#budget-container div.police {
    background: yellow;
} */