:root {
    --bgColor: #ffed4f;
    --textColor: black;
    --size: min(70vw, 70vh);
}

body {
    font-family: teletype, sans-serif;
    background: var(--bgColor);
    color: var(--textColor);
    font-size: 14px;
    overflow-x: hidden;
    overflow-y: scroll;
}

a:link {
    text-decoration: underline;
    color: inherit;
    cursor: pointer;
}

a:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}

.container {
    width: var(--size);
    height: var(--size);
    margin: 0 auto;
    border: 1px solid var(--textColor);
    background: white;
    box-sizing: border-box;
    margin-top: 24px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.caption {
    width: var(--size);
    margin: 0 auto;
    margin-top: 12px;
    margin-bottom: 12px;
    color: var(--textColor);
    font-size: 16px;
    display: flex;
    font-family: "Helvetica", sans-serif;
}

.caption span,
.caption .link {
    font-style: italic;
    font-size: 18px;
    font-family: "Garamond", serif;
}

.caption .content {
    max-width: 500px;
    display: inline-block;
    margin-right: 16px;
    line-height: 24px;
}

.caption .link {
    display: inline-block;
    text-decoration: underline;
    color: blue;
    border-bottom: 1px solid var(--bgColor);
}

.caption .link:hover {
    border-bottom: 1px solid var(--bgColor);
}

.caption .content:last-child {
    margin: 0;
}

.title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 12px;
    font-family: "Helvetica", sans-serif;
    width: var(--size);
    margin: 0 auto;
    z-index: 3;
    margin-top: 24px;
}

#budget-container {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    border-radius: 0px;
    padding: 10px;
    /* clip-path: polygon(626px 463px, 765px 236px, 687px 31px, 271px 100px, 70px 10px, 49px 250px, 133px 406px, 374px 462px, 529px 393px); */
}

#budget-container .budget-item {
    display: inline-block;
    cursor: crosshair;
    text-align: center;
    vertical-align: center;
    width: 32px;
    height: 32px;
    font-size: 20px;
    box-sizing: border-box;
    margin: 0;
}

#budget-container .budget-item.police {
    /* background: black; */
    /* background: var(--bgColor); */
}

#budget-container .budget-item.police:hover {}

.budget-item .name {
    display: none;
    font-size: 12px;
}

.budget-item:hover .name {
    display: block;
    position: absolute;
    background: white;
    padding: 2px;
}

.header {
    width: var(--size);
    margin: 0 auto;
    margin-top: 24px;
    display: flex;
    flex-direction: row;
}

.links-container {
    margin: 0 auto;
    color: var(--textColor);
    width: 40%;
    flex: 1;
    margin-bottom: 24px;
}

.links-container.double {
    flex: 1;
}

.links-container .subhead {
    font-style: italic;
    margin-bottom: 6px;
}

.links-container .link {
    margin-right: 32px;
    margin-top: 9px;
    display: inline-block;
    border-bottom: 1px solid var(--bgColor);
}

.header .link {
    border-bottom: 1px solid var(--bgColor);
}

#city-links-container {
    max-width: 60%;
}

#notes-container {
    margin-top: 48px;
    max-width: 80%;
    line-height: 18px;
}


/* #defund-links-container .link {
    padding-bottom: 2px;
    margin-top: 4px;
} */

.link:hover {
    border-bottom: 1px dotted var(--textColor);
    cursor: pointer;
}

.link.active-link {
    border-bottom: 1px solid var(--textColor);
}

#email-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 2;
    display: none;
    background: var(--bgColor);
    top: 0;
    left: 0;
    font-family: Courier, monospace;
}

#email-content-container {
    width: 100%;
    display: block;
    position: relative;
}

#email-padding-container {
    padding: 24px;
    font-size: 14px;
    line-height: 18px;
    height: auto;
}

@media only screen and (max-width: 870px) {
     :root {
        --size: min(min(90vw, 90vh), calc(100vh - 240px));
    }
    .title {
        position: relative;
        left: 0;
        width: var(--size);
        margin: 0 auto;
        margin-top: 24px;
        height: 32px;
    }
    .caption {
        margin-top: 4px;
    }
}


/* Debug below this.... */


/* 
#budget-container div {
    background: red;
    border: 1px solid cyan;
}

#budget-container div:nth-child(odd) {
    background: white;
}

#budget-container div.police {
    background: yellow;
} */